.wrapper{
    display: flex;
    flex-direction: column;
    // visibility: visible;
    transform: translateY(0);
    transition: transform .5s;
    // overflow-y: hidden;
    &.hide{
        transform: translateY(100%);
        transform: scale(.8);
    }
}